<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Revolution: Register</title>
		<link rel="stylesheet" href="../../resources/css/LoginStyle.css">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Syncopate" />
	</head>
	<body>
		<form class="login-form" method="post" action="RegistrationResponse.php">
		<h2 style="font-family: Syncopate;">Registration Page</h2><br/>
			<div class="group">      
			    <input type="text" name="firstName" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>First Name</label>
		    </div>
		    <div class="group">      
			    <input type="text" name="lastName" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>Last Name</label>
		    </div>
		    <div class="group">      
			    <input type="text" name="userName" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>User Name</label>
		    </div>
		    <div class="group">      
			    <input type="password" name="password" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>Password</label>
		    </div>
		    <div class="group">      
			    <input type="text" name="email" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>Email</label>
		    </div>
		    <div class="group">      
			    <input type="text" name="phoneNumber" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>Phone Number</label>
		    </div>
			<input class="button" type="submit" value="Registration">
		</form>
	</body>
</html>