<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Revolution: Login</title>
		<link rel="stylesheet" href="../../resources/css/LoginStyle.css">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Syncopate" />
	</head>
	<body>
		<form class="login-form" method="post" action="LoginResponse.php">
		<h2 style="font-family: Syncopate;">Login Page</h2><br/>
			<div class="group">      
			    <input type="text" name="userName"required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>User Name</label>
		    </div>
			<div class="group">      
			    <input type="password" name="password" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>Password</label>
		    </div>
			<input class="button" type="submit" value="Login">
		</form>
	</body>
</html>