@charset "UTF-8";

.login-form{
	width: 300px;	
	text-align: center;
	border: 2px solid black;
	padding: 40px;
 	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:14px;
  padding: 7px 7px 7px 5px;
  display:block;
  width:275px;
  border:none;
  border-bottom:1px solid #000;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#000; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:7px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label{
  top:-20px;
  font-size:12px;
  color:#797985;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#797985; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#797985; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#797985; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#797985; }
  to 	{ width:0; background:transparent; }
}

.button {
	font-family: Syncopate;
	font-weight: bold;
  background-color: #ffffff;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid black;
}

.button:hover {
	transition: .2s;
	text-decoration:underline;
    display:inline-block;
}